.env
.env.backup
.env.testing
/public/img
/public/storage
/storage/*.key
.phpunit.result.cache
/vendor/
/node_modules
/public/uploads
/public/css/child.*
public/mix-manifest.json
/public/mix-manifest.json
composer.phar
composer.lock
Thumbs.db

Vagrantfile
yarn.lock
/public/fonts/vendor
/public/packages
package-lock.json
/public-copy
resources/views/site-html/
resources/sass/.sass-cache/
storage/temp/
storage/pressRelease/
public/files/
public/preview/
storage/secure/*
storage/debugbar/
storage/framework/
bower_components
public/attach_files_email
public/open_files
public/file_upload

clover.xml
cobertura.xml
reports/*
public/build

.env.local
/public/build
/public/mix-manifest.json
.idea
node_modules
bower_components
public/storage
public/hot
package-lock.json
.idea/*
.env.testing
.env
.env.backup
.php_cs.cache
.phpunit.result.cache
/nbproject
.scannerwork/*
.vscode/*